nifi_for_apollo_cluster/Science-Catalogs-Pipeline-for-DP1.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1782829192918,
    "description" : "Workflow to DP1",
    "identifier" : "Science-Catalogs-Pipeline-for-DP1",
    "lastModifiedTimestamp" : 1782829192918,
    "name" : "Science Catalogs Pipeline for DP1",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4e716dee-dd2f-3e8d-8736-2c596f3c8f89",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c508161d-3e56-35cf-a850-f93600e8eb5b",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4043b79d-f285-364b-9514-a524e6f946f0",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "aebcbadf-2c71-3480-8220-fb634545eb46",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7b0395d8-5d3a-3165-abde-3eefce15b99b",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5d897a23-6d55-3f09-8ed5-8e8149875136",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bcd08f2a-b916-3c89-8dda-bb793eee3424",
        "name" : "ExecuteStreamCommand",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a1a8e20f-93ff-31de-aa38-2b7c3cd906e5",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "293e5a4b-38c2-3ed0-b75b-ef86ab1ea731",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0117fa58-4a3b-37b6-9701-b15a8c586c0f",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2bf4b18d-1137-3740-9a73-1cf8422b8974",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "job_failed", "cancelled", "oom", "timeout" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc08593e-1ce1-3dcb-8379-b566a5f5d44f",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4043b79d-f285-364b-9514-a524e6f946f0",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "13e3afb8-b4d2-3517-a590-922286f838cd",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7b2fe3c7-73fd-3964-adc5-1113382921ff",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc08593e-1ce1-3dcb-8379-b566a5f5d44f",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "265f486c-d6b2-3507-8cb1-67b67ad0382f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "41f33901-7fb4-3c7d-a046-7773c3e9a7ff",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "41f33901-7fb4-3c7d-a046-7773c3e9a7ff",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4138e0db-ba52-3b31-9ec7-bfc9097d81a8",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5ced4958-e03f-3dd2-b77d-6d3c2d39ef6d",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5d897a23-6d55-3f09-8ed5-8e8149875136",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9a4dd54a-f76c-3131-8a71-6a4e6a203d55",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d4e34930-f064-3dc5-897c-73f67bbfdff1",
        "name" : "ListFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7b2fe3c7-73fd-3964-adc5-1113382921ff",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1a411021-be40-3b20-b16c-54c0bb1bf31e",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4e470bec-e21d-3c09-96c0-0d1176a2f028",
        "name" : "ListFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bfef410a-0e38-323d-8f91-31cb5b26b7db",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e0a2cf44-09e9-3a89-b86c-dff0d7c49b68",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "has_content" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ab08de46-afc5-3ec7-9e70-bebd82777195",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ab08de46-afc5-3ec7-9e70-bebd82777195",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "62b62c08-c4b9-3322-b6d1-f370e45ad013",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "aebcbadf-2c71-3480-8220-fb634545eb46",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "039704f6-952f-3482-91ef-5ea1ec882377",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "12bb1254-219b-35cf-a3cb-6684708229ee",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "completed" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc08593e-1ce1-3dcb-8379-b566a5f5d44f",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5ced4958-e03f-3dd2-b77d-6d3c2d39ef6d",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "33788495-c2e9-3891-87ae-2a716918a8f9",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dcd8737b-c051-375b-99cb-c1025e99a2c7",
        "name" : "ListFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "1b55e8e5-b2a7-392b-8d9a-3b3beb2712d2",
      "label" : "Notification Error",
      "position" : {
        "x" : -1344.0,
        "y" : 224.0
      },
      "style" : {
        "background-color" : "#673737",
        "font-size" : "14px"
      },
      "width" : 128.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "c7221742-be53-3528-9a3c-78efca437b95",
      "label" : "Initial Metadata Notification",
      "position" : {
        "x" : -824.0,
        "y" : -304.0
      },
      "style" : {
        "background-color" : "#134f6c",
        "font-size" : "14px"
      },
      "width" : 192.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "699cdc67-86f4-3692-acc8-5112368c9ba3",
      "label" : "Pipeline Submit",
      "position" : {
        "x" : -1368.0,
        "y" : -304.0
      },
      "style" : {
        "background-color" : "#273c6d",
        "font-size" : "14px"
      },
      "width" : 120.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "01b0f168-e336-3099-91d7-70386efd5e38",
      "label" : "Final Report",
      "position" : {
        "x" : -280.0,
        "y" : -304.0
      },
      "style" : {
        "background-color" : "#1d8c47",
        "font-size" : "12px"
      },
      "width" : 80.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 40.0,
      "identifier" : "aaecf738-d758-3ca6-9e7e-21c2a848e2c6",
      "label" : "Workflow Destinado a Execução do Pipeline Science Catalogs",
      "position" : {
        "x" : -976.0,
        "y" : -448.0
      },
      "style" : {
        "background-color" : "#a336ab",
        "font-size" : "20px"
      },
      "width" : 576.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "f3c7fe9d-15c5-3430-aca3-85ee74481c91",
      "label" : "Initial Metadata Notification",
      "position" : {
        "x" : -344.0,
        "y" : 352.0
      },
      "style" : {
        "background-color" : "#134f6c",
        "font-size" : "14px"
      },
      "width" : 192.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "5fdcc11b-5275-3917-9869-3bca17564280",
      "label" : "Initial Metadata Notification",
      "position" : {
        "x" : -344.0,
        "y" : 352.0
      },
      "style" : {
        "background-color" : "#134f6c",
        "font-size" : "14px"
      },
      "width" : 192.0,
      "zIndex" : 0
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "Science Catalogs Pipeline for DP1",
    "outputPorts" : [ ],
    "parameterContextName" : "data_release",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "039704f6-952f-3482-91ef-5ea1ec882377",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -416.0,
        "y" : 784.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "=========================================================\nSCIENCE CATALOGS PIPELINE FOR #{data_release} - COMPLETED\n=========================================================\n\nJob ID:\t\t\t\t\t${job_id}\nJob Name:\t\t\t\t${job_name}\n\nState:\t\t\t\t\t${state}\nJob Execution Time:\t\t${elapsed}\nJob End Time:\t\t\t${end_time}\n\nInputdir:\t\t\t\t${input_dir}\nOutputdir:\t\t\t\t${output_dir}\n\nLog Files Path:\t\t\t${log_files}\n\n=========================================================\n\nEste é um e-mail automático.",
        "Attach File" : "false",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "false",
        "From" : "nifi-notifier@linea.org.br",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "mx4.linea.org.br",
        "Subject" : "[IDAC-BR] NiFi | JOB COMPLETED - [ID ${job_id}] | [SCIENCE CATALOGS PIPELINE FOR #{data_release}]",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "SMTP Username" : "Anonymous",
        "To" : "nifi-notifier@linea.org.br",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d4e34930-f064-3dc5-897c-73f67bbfdff1",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1456.0,
        "y" : 280.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "et-initial-listing-target" : "all",
        "max-listing-time" : "3 mins",
        "et-time-window" : "3 hours",
        "et-node-identifier" : "${hostname()}",
        "Recurse Subdirectories" : "false",
        "File Filter" : ".*\\.err$",
        "Include File Attributes" : "true",
        "Input Directory Location" : "Local",
        "listing-strategy" : "timestamps",
        "Input Directory" : "/scratch/users/app.nifi/science_catalog/logs",
        "target-system-timestamp-precision" : "auto-detect",
        "track-performance" : "false",
        "max-performance-metrics" : "100",
        "Minimum File Size" : "1 B",
        "Ignore Hidden Files" : "true",
        "max-operation-time" : "10 secs"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "max-listing-time" : {
          "displayName" : "Max Directory Listing Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-listing-time",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "et-node-identifier" : {
          "displayName" : "Entity Tracking Node Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-node-identifier",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        },
        "Include File Attributes" : {
          "displayName" : "Include File Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include File Attributes",
          "sensitive" : false
        },
        "Input Directory Location" : {
          "displayName" : "Input Directory Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory Location",
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "target-system-timestamp-precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "target-system-timestamp-precision",
          "sensitive" : false
        },
        "track-performance" : {
          "displayName" : "Track Performance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "track-performance",
          "sensitive" : false
        },
        "max-performance-metrics" : {
          "displayName" : "Maximum Number of Files to Track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-performance-metrics",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "max-operation-time" : {
          "displayName" : "Max Disk Operation Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-operation-time",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dcd8737b-c051-375b-99cb-c1025e99a2c7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -408.0,
        "y" : -232.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "et-initial-listing-target" : "all",
        "max-listing-time" : "3 mins",
        "et-time-window" : "3 hours",
        "et-node-identifier" : "${hostname()}",
        "Recurse Subdirectories" : "true",
        "File Filter" : "final_report.json",
        "Include File Attributes" : "true",
        "Input Directory Location" : "Local",
        "listing-strategy" : "timestamps",
        "Input Directory" : "/scratch/users/app.nifi/science_catalog/logs",
        "target-system-timestamp-precision" : "auto-detect",
        "track-performance" : "false",
        "max-performance-metrics" : "100",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "max-operation-time" : "10 secs"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "max-listing-time" : {
          "displayName" : "Max Directory Listing Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-listing-time",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "et-node-identifier" : {
          "displayName" : "Entity Tracking Node Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-node-identifier",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        },
        "Include File Attributes" : {
          "displayName" : "Include File Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include File Attributes",
          "sensitive" : false
        },
        "Input Directory Location" : {
          "displayName" : "Input Directory Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory Location",
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "target-system-timestamp-precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "target-system-timestamp-precision",
          "sensitive" : false
        },
        "track-performance" : {
          "displayName" : "Track Performance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "track-performance",
          "sensitive" : false
        },
        "max-performance-metrics" : {
          "displayName" : "Maximum Number of Files to Track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-performance-metrics",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "max-operation-time" : {
          "displayName" : "Max Disk Operation Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-operation-time",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4e470bec-e21d-3c09-96c0-0d1176a2f028",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -896.0,
        "y" : -232.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "et-initial-listing-target" : "all",
        "max-listing-time" : "3 mins",
        "et-time-window" : "3 hours",
        "et-node-identifier" : "${hostname()}",
        "Recurse Subdirectories" : "true",
        "File Filter" : "initial_report.json",
        "Include File Attributes" : "true",
        "Input Directory Location" : "Local",
        "listing-strategy" : "timestamps",
        "Input Directory" : "/scratch/users/app.nifi/science_catalog/logs",
        "target-system-timestamp-precision" : "auto-detect",
        "track-performance" : "false",
        "max-performance-metrics" : "100",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "max-operation-time" : "10 secs"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "max-listing-time" : {
          "displayName" : "Max Directory Listing Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-listing-time",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "et-node-identifier" : {
          "displayName" : "Entity Tracking Node Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-node-identifier",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        },
        "Include File Attributes" : {
          "displayName" : "Include File Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include File Attributes",
          "sensitive" : false
        },
        "Input Directory Location" : {
          "displayName" : "Input Directory Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory Location",
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "target-system-timestamp-precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "target-system-timestamp-precision",
          "sensitive" : false
        },
        "track-performance" : {
          "displayName" : "Track Performance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "track-performance",
          "sensitive" : false
        },
        "max-performance-metrics" : {
          "displayName" : "Maximum Number of Files to Track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-performance-metrics",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "max-operation-time" : {
          "displayName" : "Max Disk Operation Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-operation-time",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4e716dee-dd2f-3e8d-8736-2c596f3c8f89",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -896.0,
        "y" : 512.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "=========================================================\nSCIENCE CATALOGS PIPELINE FOR #{data_release} - SUBMITTED\n=========================================================\n\nThe Science Catalogs pipeline for #{data_release} \nhas been submitted and started running.\n\nJob ID:\t\t\t\t\t${job_id}\nJob Name:\t\t\t\t${job_name}\n\nNumber of Cores:\t\t${cores} \nMem for job:\t\t\t${memory}\nNumber of Processes:\t${processes}\n\nWorkdir:\t\t\t\t${workdir}\nInputdir:\t\t\t\t${input_dir}\nOutputdir:\t\t\t\t${output_dir}\n\nStart Time:\t\t\t\t${submit_time}\nStatus:\t\t\t\t\t${status}\n\n========================================================\n\nEste é um e-mail automático.",
        "Attach File" : "false",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "false",
        "From" : "nifi-notifier@linea.org.br",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "mx4.linea.org.br",
        "Subject" : "[IDAC-BR] NiFi | JOB SUBMITTED - [ID ${job_id}] | [SCIENCE CATALOG PIPELINE FOR #{data_release}]",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "SMTP Username" : "Anonymous",
        "To" : "nifi-notifier@linea.org.br",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "293e5a4b-38c2-3ed0-b75b-ef86ab1ea731",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1464.0,
        "y" : -240.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "525600 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7b2fe3c7-73fd-3964-adc5-1113382921ff",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -896.0,
        "y" : 24.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Fail",
        "Log level when file not found" : "ERROR",
        "Log level when permission denied" : "ERROR",
        "File to Fetch" : "${absolute.path}/${filename}",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Log level when file not found" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when file not found",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Log level when permission denied" : {
          "displayName" : "Log level when permission denied",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when permission denied",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4043b79d-f285-364b-9514-a524e6f946f0",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -896.0,
        "y" : 296.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "processes" : "$.processes",
        "memory" : "$.memory",
        "Max String Length" : "200 MB",
        "submit_time" : "$.submit_time",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "warn",
        "partition" : "$.partition",
        "cores" : "$.cores",
        "job_name" : "$.job_name",
        "workdir" : "$.workdir",
        "job_id" : "$.job_id",
        "output_dir" : "$.output_dir",
        "nodelist" : "$.nodelist",
        "input_dir" : "$.input_dir",
        "user" : "$.user",
        "status" : "$.status"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "processes" : {
          "displayName" : "processes",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "processes",
          "sensitive" : false
        },
        "memory" : {
          "displayName" : "memory",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "memory",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "submit_time" : {
          "displayName" : "submit_time",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "submit_time",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "partition" : {
          "displayName" : "partition",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "partition",
          "sensitive" : false
        },
        "cores" : {
          "displayName" : "cores",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "cores",
          "sensitive" : false
        },
        "job_name" : {
          "displayName" : "job_name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_name",
          "sensitive" : false
        },
        "workdir" : {
          "displayName" : "workdir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "workdir",
          "sensitive" : false
        },
        "job_id" : {
          "displayName" : "job_id",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_id",
          "sensitive" : false
        },
        "output_dir" : {
          "displayName" : "output_dir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "output_dir",
          "sensitive" : false
        },
        "nodelist" : {
          "displayName" : "nodelist",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "nodelist",
          "sensitive" : false
        },
        "input_dir" : {
          "displayName" : "input_dir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "input_dir",
          "sensitive" : false
        },
        "user" : {
          "displayName" : "user",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "user",
          "sensitive" : false
        },
        "status" : {
          "displayName" : "status",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "status",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "output stream", "original", "nonzero status" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bcd08f2a-b916-3c89-8dda-bb793eee3424",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteStreamCommand",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1464.0,
        "y" : 0.0
      },
      "properties" : {
        "argumentsStrategy" : "Command Arguments Property",
        "Max Attribute Length" : "256",
        "Working Directory" : "/scratch/users/app.nifi/",
        "Command Path" : "/bin/bash",
        "Argument Delimiter" : " ",
        "Ignore STDIN" : "false",
        "Command Arguments" : "-c \"su - app.nifi -c 'sbatch /scripts/app.nifi/SCIENCE_CATALOG_PIPELINE/submit_science_dp1.sh'\""
      },
      "propertyDescriptors" : {
        "argumentsStrategy" : {
          "displayName" : "Command Arguments Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "argumentsStrategy",
          "sensitive" : false
        },
        "Max Attribute Length" : {
          "displayName" : "Max Attribute Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Attribute Length",
          "sensitive" : false
        },
        "Output MIME Type" : {
          "displayName" : "Output MIME Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output MIME Type",
          "sensitive" : false
        },
        "Working Directory" : {
          "displayName" : "Working Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Working Directory",
          "sensitive" : false
        },
        "Command Path" : {
          "displayName" : "Command Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Path",
          "sensitive" : false
        },
        "Output Destination Attribute" : {
          "displayName" : "Output Destination Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Destination Attribute",
          "sensitive" : false
        },
        "Argument Delimiter" : {
          "displayName" : "Argument Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Argument Delimiter",
          "sensitive" : false
        },
        "Ignore STDIN" : {
          "displayName" : "Ignore STDIN",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore STDIN",
          "sensitive" : false
        },
        "Command Arguments" : {
          "displayName" : "Command Arguments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Arguments",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "41f33901-7fb4-3c7d-a046-7773c3e9a7ff",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -416.0,
        "y" : 296.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "max_rss" : "$.max_rss",
        "Max String Length" : "200 MB",
        "Return Type" : "auto-detect",
        "end_time" : "$.end_time",
        "Null Value Representation" : "empty string",
        "alloc_cpus" : "$.alloc_cpus",
        "stderr_size" : "$.stderr_size",
        "Path Not Found Behavior" : "warn",
        "elapsed" : "$.elapsed",
        "log_files" : "$.log_files",
        "job_name" : "$.job_name",
        "job_id" : "$.job_id",
        "stderr_file" : "$.stderr_file",
        "output_dir" : "$.output_dir",
        "state" : "$.state",
        "input_dir" : "$.input_dir"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "max_rss" : {
          "displayName" : "max_rss",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "max_rss",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "end_time" : {
          "displayName" : "end_time",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "end_time",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "alloc_cpus" : {
          "displayName" : "alloc_cpus",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "alloc_cpus",
          "sensitive" : false
        },
        "stderr_size" : {
          "displayName" : "stderr_size",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "stderr_size",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "elapsed" : {
          "displayName" : "elapsed",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "elapsed",
          "sensitive" : false
        },
        "log_files" : {
          "displayName" : "log_files",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "log_files",
          "sensitive" : false
        },
        "job_name" : {
          "displayName" : "job_name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_name",
          "sensitive" : false
        },
        "job_id" : {
          "displayName" : "job_id",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_id",
          "sensitive" : false
        },
        "stderr_file" : {
          "displayName" : "stderr_file",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "stderr_file",
          "sensitive" : false
        },
        "output_dir" : {
          "displayName" : "output_dir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "output_dir",
          "sensitive" : false
        },
        "state" : {
          "displayName" : "state",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "state",
          "sensitive" : false
        },
        "input_dir" : {
          "displayName" : "input_dir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "input_dir",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ab08de46-afc5-3ec7-9e70-bebd82777195",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1464.0,
        "y" : 1032.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "has_content" : "${fileSize:gt(0)}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "has_content" : {
          "displayName" : "has_content",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "has_content",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5ced4958-e03f-3dd2-b77d-6d3c2d39ef6d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -416.0,
        "y" : 24.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Fail",
        "Log level when file not found" : "ERROR",
        "Log level when permission denied" : "ERROR",
        "File to Fetch" : "${absolute.path}/${filename}",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Log level when file not found" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when file not found",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Log level when permission denied" : {
          "displayName" : "Log level when permission denied",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when permission denied",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bfef410a-0e38-323d-8f91-31cb5b26b7db",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1456.0,
        "y" : 1272.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "=====================================================\nSCIENCE CATALOGS PIPELINE FOR #{data_release} - ERROR\n=====================================================\n\nJob ID: \t\t\t\t${job_id}\nJob Name: \t\t\t\t${job_name}\n\nPath to the error file:\n${stderr_file}\n\n=====================================================\n\n\nEste é um e-mail automático.",
        "Attach File" : "true",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "false",
        "From" : "nifi-notifier@linea.org.br",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "mx4.linea.org.br",
        "Subject" : "[IDAC-BR] NiFi | JOB EXECUTION ERROR - [JOB ID ${job_id}] | [SCIENCE CATALOGS PIPELINE FOR #{data_release}]",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "SMTP Username" : "Anonymous",
        "To" : "nifi-notifier@linea.org.br",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5d897a23-6d55-3f09-8ed5-8e8149875136",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1456.0,
        "y" : 528.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Fail",
        "Log level when file not found" : "ERROR",
        "Log level when permission denied" : "ERROR",
        "File to Fetch" : "${absolute.path}/${filename}",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Log level when file not found" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when file not found",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Log level when permission denied" : {
          "displayName" : "Log level when permission denied",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when permission denied",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dc08593e-1ce1-3dcb-8379-b566a5f5d44f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -416.0,
        "y" : 512.0
      },
      "properties" : {
        "job_failed" : "${state:equals('FAILED')}",
        "Routing Strategy" : "Route to Property name",
        "cancelled" : "${state:equals('CANCELLED')}",
        "completed" : "${state:equals('COMPLETED')}",
        "oom" : "${state:equals('OUT_OF_MEMORY')}",
        "timeout" : "${state:equals('TIMEOUT')}"
      },
      "propertyDescriptors" : {
        "job_failed" : {
          "displayName" : "job_failed",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_failed",
          "sensitive" : false
        },
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "cancelled" : {
          "displayName" : "cancelled",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "cancelled",
          "sensitive" : false
        },
        "completed" : {
          "displayName" : "completed",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "completed",
          "sensitive" : false
        },
        "oom" : {
          "displayName" : "oom",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "oom",
          "sensitive" : false
        },
        "timeout" : {
          "displayName" : "timeout",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "timeout",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "aebcbadf-2c71-3480-8220-fb634545eb46",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1456.0,
        "y" : 784.0
      },
      "properties" : {
        "job_name" : "${filename:replaceAll('-[0-9]+\\\\.err$','')}",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "job_id" : "${filename:replaceAll('.*-([0-9]+)\\\\.err','$1')}",
        "stderr_file" : "${absolute.path}${filename}"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "job_name" : {
          "displayName" : "job_name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_name",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "job_id" : {
          "displayName" : "job_id",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_id",
          "sensitive" : false
        },
        "stderr_file" : {
          "displayName" : "stderr_file",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "stderr_file",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0117fa58-4a3b-37b6-9701-b15a8c586c0f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 248.0,
        "y" : 512.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "=====================================================\nSCIENCE CATALOGS PIPELINE FOR #{data_release} - ERROR\n=====================================================\n\nJob ID: \t\t\t\t${job_id}\nJob Name: \t\t\t\t${job_name}\n\nState: \t\t\t\t\t${state}\n\nEnd Time: \t\t\t\t${end_time}\n\nPath to the error file:\n${stderr_file}\n\n=====================================================\n\n\nEste é um e-mail automático.",
        "Attach File" : "false",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "false",
        "From" : "nifi-notifier@linea.org.br",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "mx4.linea.org.br",
        "Subject" : "[IDAC-BR] NiFi | JOB EXECUTION ERROR - [ID ${job_id}] | [SCIENCE CATALOGS PIPELINE FOR #{data_release}]",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "SMTP Username" : "Anonymous",
        "To" : "nifi-notifier@linea.org.br",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "data_release" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "data_release",
      "parameters" : [ {
        "description" : "",
        "name" : "data_release",
        "provided" : false,
        "sensitive" : false,
        "value" : "DES"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "lineaaplnifi",
    "flowIdentifier" : "Science-Catalogs-Pipeline-for-DP1",
    "timestamp" : 0
  }
}