workflows_apollo_nifi/HiPS-Catalog-Gen-Pipeline-for-DP1.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1782831982100,
    "description" : "HiPS wokflow for DP1",
    "identifier" : "HiPS-Catalog-Gen-Pipeline-for-DP1",
    "lastModifiedTimestamp" : 1782831982100,
    "name" : "HiPS Catalog-Gen Pipeline for DP1",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d1397943-0c50-3dbc-a9cc-8c3b830a5b29",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "25c7fe20-da4e-3e3c-991f-872f4a9a219b",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "39de5048-96d5-342c-9ba0-bac0db53db17",
        "name" : "ListFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56176977-6dcb-33b9-acd8-5a7382928aff",
        "name" : "ExecuteStreamCommand",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d12f3f6f-5565-3daa-80e4-8de05f5c29a1",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1bde6dca-38c8-3318-95ec-04b077078b6e",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f249fbce-5bc5-3ee5-9ddc-5009cdb42d02",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ff00a8fd-7638-3ed2-9f9f-017dc306fe19",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "09248d03-390b-3501-9c2d-e2de508eaae7",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "09248d03-390b-3501-9c2d-e2de508eaae7",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7d183223-7ed7-3478-a336-55d4f54ab47e",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "completed" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "53425320-9e0d-35e6-8007-92750cf4c21b",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2ef1dd7-d51c-320a-aac3-4342a0a65043",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f9ed3922-2bac-3ccc-bcf5-bbfda2407a27",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9f1e68c7-1a98-310a-9215-0fc80884077f",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "79d951c9-6f54-33d3-b04e-4c3df061fdd3",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "990668f9-8dbd-369e-9009-535b9166c41c",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d1397943-0c50-3dbc-a9cc-8c3b830a5b29",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "445b1f66-a675-3892-a199-8f1f6faf3f37",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3b5fdfec-8b21-3fe6-87e2-73399589474e",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "22de4978-8612-3314-8459-6ad257df14d0",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a038a715-5c16-350a-8ec0-aff7de08263e",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4aab6597-6f33-34b0-a39f-ff9fffece02e",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0e2a6db3-427c-37ca-88eb-fea29b2be059",
        "name" : "ListFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f3230719-f3e2-372b-b7ed-76396f8719ee",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "229dec0a-99fb-3bec-bf4a-d0c45d38b356",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "job_failed", "cancelled", "oom", "timeout" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "53425320-9e0d-35e6-8007-92750cf4c21b",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9f1e68c7-1a98-310a-9215-0fc80884077f",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c8daa812-791f-3a01-a4f5-9ddbd3530f4f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "edbd9e24-687a-33d9-be15-4b5266fa6f8a",
        "name" : "ListFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1d0e0c2c-d881-3321-a12d-a16c2dec81c7",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8d756fd2-21ad-349b-88a6-4041f1535106",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "has_content" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "445b1f66-a675-3892-a199-8f1f6faf3f37",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "22de4978-8612-3314-8459-6ad257df14d0",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2af57b69-394d-3648-8729-18997ebb0868",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a038a715-5c16-350a-8ec0-aff7de08263e",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "53425320-9e0d-35e6-8007-92750cf4c21b",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e6767079-6a42-3144-8105-83738e980483",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2ef1dd7-d51c-320a-aac3-4342a0a65043",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0c84f3d8-2fe4-3c75-8846-991df8b89c48",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8630dc2a-31f3-372b-b49a-1e0b84b5093d",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "79d951c9-6f54-33d3-b04e-4c3df061fdd3",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "41a768a3-be5c-31e0-8a16-17210d0981bd",
      "label" : "Initial Metadata Notification",
      "position" : {
        "x" : -349.322830439967,
        "y" : 341.6265511821069
      },
      "style" : {
        "background-color" : "#134f6c",
        "font-size" : "14px"
      },
      "width" : 192.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "6514e284-64eb-3ad8-8228-876f2ffa48fc",
      "label" : "Pipeline Submit",
      "position" : {
        "x" : -1368.0,
        "y" : -304.0
      },
      "style" : {
        "background-color" : "#273c6d",
        "font-size" : "14px"
      },
      "width" : 120.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 40.0,
      "identifier" : "3f2fba0b-64e2-3e46-86ca-8374f22f34c0",
      "label" : "Workflow Destinado a Execução do Pipeline HiPs Catalog Gen",
      "position" : {
        "x" : -976.0,
        "y" : -448.0
      },
      "style" : {
        "background-color" : "#705d83",
        "font-size" : "20px"
      },
      "width" : 576.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "bf4a0cc8-3b55-3103-94e3-f560abb6ad92",
      "label" : "Notification Error",
      "position" : {
        "x" : -1352.0,
        "y" : 216.0
      },
      "style" : {
        "background-color" : "#673737",
        "font-size" : "14px"
      },
      "width" : 128.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "7bd4a0db-02fe-3e8b-b25e-9b39ad9d47e3",
      "label" : "Initial Metadata Notification",
      "position" : {
        "x" : -824.0,
        "y" : -304.0
      },
      "style" : {
        "background-color" : "#134f6c",
        "font-size" : "14px"
      },
      "width" : 192.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "0c851185-c5e0-3aef-99b1-d9874aaa8176",
      "label" : "Initial Metadata Notification",
      "position" : {
        "x" : -349.322830439967,
        "y" : 341.6265511821069
      },
      "style" : {
        "background-color" : "#134f6c",
        "font-size" : "14px"
      },
      "width" : 192.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 24.0,
      "identifier" : "3cef1944-0b19-3523-9fc2-3eacdd113e55",
      "label" : "Final Report",
      "position" : {
        "x" : -280.0,
        "y" : -304.0
      },
      "style" : {
        "background-color" : "#1d8c47",
        "font-size" : "12px"
      },
      "width" : 80.0,
      "zIndex" : 0
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "HiPS Catalog-Gen Pipeline for DP1",
    "outputPorts" : [ ],
    "parameterContextName" : "data_release",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e2ef1dd7-d51c-320a-aac3-4342a0a65043",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : 288.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "max_rss" : "$.max_rss",
        "Max String Length" : "200 MB",
        "Return Type" : "auto-detect",
        "end_time" : "$.end_time",
        "Null Value Representation" : "empty string",
        "alloc_cpus" : "$.alloc_cpus",
        "stderr_size" : "$.stderr_size",
        "Path Not Found Behavior" : "warn",
        "elapsed" : "$.elapsed",
        "log_files" : "$.log_files",
        "job_name" : "$.job_name",
        "out_dir" : "$.out_dir",
        "job_id" : "$.job_id",
        "stderr_file" : "$.stderr_file",
        "state" : "$.state",
        "input_dir" : "$.input_dir"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "max_rss" : {
          "displayName" : "max_rss",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "max_rss",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "end_time" : {
          "displayName" : "end_time",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "end_time",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "alloc_cpus" : {
          "displayName" : "alloc_cpus",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "alloc_cpus",
          "sensitive" : false
        },
        "stderr_size" : {
          "displayName" : "stderr_size",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "stderr_size",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "elapsed" : {
          "displayName" : "elapsed",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "elapsed",
          "sensitive" : false
        },
        "log_files" : {
          "displayName" : "log_files",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "log_files",
          "sensitive" : false
        },
        "job_name" : {
          "displayName" : "job_name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_name",
          "sensitive" : false
        },
        "out_dir" : {
          "displayName" : "out_dir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "out_dir",
          "sensitive" : false
        },
        "job_id" : {
          "displayName" : "job_id",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_id",
          "sensitive" : false
        },
        "stderr_file" : {
          "displayName" : "stderr_file",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "stderr_file",
          "sensitive" : false
        },
        "state" : {
          "displayName" : "state",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "state",
          "sensitive" : false
        },
        "input_dir" : {
          "displayName" : "input_dir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "input_dir",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a038a715-5c16-350a-8ec0-aff7de08263e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1464.0,
        "y" : 520.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Fail",
        "Log level when file not found" : "ERROR",
        "Log level when permission denied" : "ERROR",
        "File to Fetch" : "${absolute.path}/${filename}",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Log level when file not found" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when file not found",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Log level when permission denied" : {
          "displayName" : "Log level when permission denied",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when permission denied",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "22de4978-8612-3314-8459-6ad257df14d0",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1464.0,
        "y" : 776.0
      },
      "properties" : {
        "job_name" : "${filename:replaceAll('-[0-9]+\\\\.err$','')}",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "job_id" : "${filename:replaceAll('.*-([0-9]+)\\\\.err','$1')}",
        "stderr_file" : "${absolute.path}${filename}"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "job_name" : {
          "displayName" : "job_name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_name",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "job_id" : {
          "displayName" : "job_id",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_id",
          "sensitive" : false
        },
        "stderr_file" : {
          "displayName" : "stderr_file",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "stderr_file",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1d0e0c2c-d881-3321-a12d-a16c2dec81c7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1464.0,
        "y" : 1264.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "=====================================================\nHIPS CATALOG-GEN PIPELINE FOR #{data_release} - ERROR\n=====================================================\n\nJob ID: \t\t\t\t${job_id}\nJob Name: \t\t\t\t${job_name}\n\nPath to the error file:\n${stderr_file}\n\n=====================================================\n\n\nEste é um e-mail automático.",
        "Attach File" : "true",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "false",
        "From" : "nifi-notifier@linea.org.br",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "mx4.linea.org.br",
        "Subject" : "[IDAC-BR] NiFi | JOB EXECUTION ERROR [ID ${job_id}] - [HIPS CATALOG-GEN PIPELINE FOR #{data_release}]",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "SMTP Username" : "Anonymous",
        "To" : "nifi-notifier@linea.org.br",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "445b1f66-a675-3892-a199-8f1f6faf3f37",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1472.0,
        "y" : 1024.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "has_content" : "${fileSize:gt(0)}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "has_content" : {
          "displayName" : "has_content",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "has_content",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "79d951c9-6f54-33d3-b04e-4c3df061fdd3",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -904.0,
        "y" : 288.0
      },
      "properties" : {
        "memory_per_worker" : "$.memory_per_worker",
        "Destination" : "flowfile-attribute",
        "Max String Length" : "200 MB",
        "submit_time" : "$.submit_time",
        "Return Type" : "auto-detect",
        "threads_per_worker" : "$.threads_per_worker",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "warn",
        "partition" : "$.partition",
        "job_name" : "$.job_name",
        "workdir" : "$.workdir",
        "out_dir" : "$.out_dir",
        "job_id" : "$.job_id",
        "nodelist" : "$.nodelist",
        "input_dir" : "$.input_dir",
        "n_workers" : "$.n_workers",
        "user" : "$.user",
        "status" : "$.status"
      },
      "propertyDescriptors" : {
        "memory_per_worker" : {
          "displayName" : "memory_per_worker",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "memory_per_worker",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "submit_time" : {
          "displayName" : "submit_time",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "submit_time",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "threads_per_worker" : {
          "displayName" : "threads_per_worker",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "threads_per_worker",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "partition" : {
          "displayName" : "partition",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "partition",
          "sensitive" : false
        },
        "job_name" : {
          "displayName" : "job_name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_name",
          "sensitive" : false
        },
        "workdir" : {
          "displayName" : "workdir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "workdir",
          "sensitive" : false
        },
        "out_dir" : {
          "displayName" : "out_dir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "out_dir",
          "sensitive" : false
        },
        "job_id" : {
          "displayName" : "job_id",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_id",
          "sensitive" : false
        },
        "nodelist" : {
          "displayName" : "nodelist",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "nodelist",
          "sensitive" : false
        },
        "input_dir" : {
          "displayName" : "input_dir",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "input_dir",
          "sensitive" : false
        },
        "n_workers" : {
          "displayName" : "n_workers",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "n_workers",
          "sensitive" : false
        },
        "user" : {
          "displayName" : "user",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "user",
          "sensitive" : false
        },
        "status" : {
          "displayName" : "status",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "status",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1bde6dca-38c8-3318-95ec-04b077078b6e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1472.0,
        "y" : -248.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "525600 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9f1e68c7-1a98-310a-9215-0fc80884077f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : 16.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Fail",
        "Log level when file not found" : "ERROR",
        "Log level when permission denied" : "ERROR",
        "File to Fetch" : "${absolute.path}/${filename}",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Log level when file not found" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when file not found",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Log level when permission denied" : {
          "displayName" : "Log level when permission denied",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when permission denied",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "53425320-9e0d-35e6-8007-92750cf4c21b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : 504.0
      },
      "properties" : {
        "job_failed" : "${state:equals('FAILED')}",
        "Routing Strategy" : "Route to Property name",
        "cancelled" : "${state:equals('CANCELLED')}",
        "completed" : "${state:equals('COMPLETED')}",
        "oom" : "${state:equals('OUT_OF_MEMORY')}",
        "timeout" : "${state:equals('TIMEOUT')}"
      },
      "propertyDescriptors" : {
        "job_failed" : {
          "displayName" : "job_failed",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "job_failed",
          "sensitive" : false
        },
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "cancelled" : {
          "displayName" : "cancelled",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "cancelled",
          "sensitive" : false
        },
        "completed" : {
          "displayName" : "completed",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "completed",
          "sensitive" : false
        },
        "oom" : {
          "displayName" : "oom",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "oom",
          "sensitive" : false
        },
        "timeout" : {
          "displayName" : "timeout",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "timeout",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d1397943-0c50-3dbc-a9cc-8c3b830a5b29",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -904.0,
        "y" : 16.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Fail",
        "Log level when file not found" : "ERROR",
        "Log level when permission denied" : "ERROR",
        "File to Fetch" : "${absolute.path}/${filename}",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Log level when file not found" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when file not found",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Log level when permission denied" : {
          "displayName" : "Log level when permission denied",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when permission denied",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0c84f3d8-2fe4-3c75-8846-991df8b89c48",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -904.0,
        "y" : 504.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "=========================================================\nHIPS CATALOG-GEN PIPELINE FOR #{data_release} - SUBMITTED\n=========================================================\n\nThe HiPS Catalog-gen pipeline for #{data_release} \nhas been submitted and started running.\n\nJob ID:\t\t\t\t\t${job_id}\nJob Name:\t\t\t\t${job_name}\n\nNumber of Workers:\t\t${n_workers} \nMem per Worker:\t\t\t${memory_per_worker}\n\nWorkdir:\t\t\t\t${workdir}\nInputdir:\t\t\t\t${input_dir}\nOutputdir:\t\t\t\t${out_dir}\n\nStart Time:\t\t\t\t${submit_time}\nStatus:\t\t\t\t\t${status}\n\n========================================================\n\nEste é um e-mail automático.",
        "Attach File" : "false",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "false",
        "From" : "nifi-notifier@linea.org.br",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "mx4.linea.org.br",
        "Subject" : "[IDAC-BR] NiFi | JOB SUBMITTED - [ID ${job_id}] - [HIPS CATALOG-GEN PIPELINE FOR #{data_release}]",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "SMTP Username" : "Anonymous",
        "To" : "nifi-notifier@linea.org.br",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "09248d03-390b-3501-9c2d-e2de508eaae7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : 760.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Fail",
        "Log level when file not found" : "ERROR",
        "Log level when permission denied" : "ERROR",
        "File to Fetch" : "${out_dir}/telemetry.json",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Log level when file not found" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when file not found",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Log level when permission denied" : {
          "displayName" : "Log level when permission denied",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log level when permission denied",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0e2a6db3-427c-37ca-88eb-fea29b2be059",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1464.0,
        "y" : 272.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "et-initial-listing-target" : "all",
        "max-listing-time" : "3 mins",
        "et-time-window" : "3 hours",
        "et-node-identifier" : "${hostname()}",
        "Recurse Subdirectories" : "false",
        "File Filter" : ".*\\.err$",
        "Include File Attributes" : "true",
        "Input Directory Location" : "Local",
        "listing-strategy" : "timestamps",
        "Input Directory" : "/scratch/users/app.nifi/hips_catalog/logs/",
        "target-system-timestamp-precision" : "auto-detect",
        "track-performance" : "false",
        "max-performance-metrics" : "100",
        "Minimum File Size" : "1 B",
        "Ignore Hidden Files" : "true",
        "max-operation-time" : "10 secs"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "max-listing-time" : {
          "displayName" : "Max Directory Listing Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-listing-time",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "et-node-identifier" : {
          "displayName" : "Entity Tracking Node Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-node-identifier",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        },
        "Include File Attributes" : {
          "displayName" : "Include File Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include File Attributes",
          "sensitive" : false
        },
        "Input Directory Location" : {
          "displayName" : "Input Directory Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory Location",
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "target-system-timestamp-precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "target-system-timestamp-precision",
          "sensitive" : false
        },
        "track-performance" : {
          "displayName" : "Track Performance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "track-performance",
          "sensitive" : false
        },
        "max-performance-metrics" : {
          "displayName" : "Maximum Number of Files to Track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-performance-metrics",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "max-operation-time" : {
          "displayName" : "Max Disk Operation Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-operation-time",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f249fbce-5bc5-3ee5-9ddc-5009cdb42d02",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : 992.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "=========================================================\nHIPS CATALOG-GEN PIPELINE FOR #{data_release} - COMPLETED\n=========================================================\n\nJob ID:\t\t\t\t\t${job_id}\nJob Name:\t\t\t\t${job_name}\n\nState:\t\t\t\t\t${state}\nJob Execution Time:\t\t${elapsed}\nJob End Time:\t\t\t${end_time}\n\nInputdir:\t\t\t\t${input_dir}\nOutputdir:\t\t\t\t${out_dir}\n\nLog Files Path:\t\t\t${log_files}\n\n=========================================================\n\nEste é um e-mail automático.",
        "Attach File" : "true",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "false",
        "From" : "nifi-notifier@linea.org.br",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "mx4.linea.org.br",
        "Subject" : "[IDAC-BR] NiFi | JOB COMPLETED [ID ${job_id}] - [HIPS CATALOG-GEN PIPELINE FOR #{data_release}]",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "SMTP Username" : "Anonymous",
        "To" : "nifi-notifier@linea.org.br",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "39de5048-96d5-342c-9ba0-bac0db53db17",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -904.0,
        "y" : -240.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "et-initial-listing-target" : "all",
        "max-listing-time" : "3 mins",
        "et-time-window" : "3 hours",
        "et-node-identifier" : "${hostname()}",
        "Recurse Subdirectories" : "true",
        "File Filter" : "initial_report.json",
        "Include File Attributes" : "true",
        "Input Directory Location" : "Local",
        "listing-strategy" : "timestamps",
        "Input Directory" : "/scratch/users/app.nifi/hips_catalog/logs",
        "target-system-timestamp-precision" : "auto-detect",
        "track-performance" : "false",
        "max-performance-metrics" : "100",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "max-operation-time" : "10 secs"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "max-listing-time" : {
          "displayName" : "Max Directory Listing Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-listing-time",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "et-node-identifier" : {
          "displayName" : "Entity Tracking Node Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-node-identifier",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        },
        "Include File Attributes" : {
          "displayName" : "Include File Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include File Attributes",
          "sensitive" : false
        },
        "Input Directory Location" : {
          "displayName" : "Input Directory Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory Location",
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "target-system-timestamp-precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "target-system-timestamp-precision",
          "sensitive" : false
        },
        "track-performance" : {
          "displayName" : "Track Performance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "track-performance",
          "sensitive" : false
        },
        "max-performance-metrics" : {
          "displayName" : "Maximum Number of Files to Track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-performance-metrics",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "max-operation-time" : {
          "displayName" : "Max Disk Operation Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-operation-time",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "edbd9e24-687a-33d9-be15-4b5266fa6f8a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : -240.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "et-initial-listing-target" : "all",
        "max-listing-time" : "3 mins",
        "et-time-window" : "3 hours",
        "et-node-identifier" : "${hostname()}",
        "Recurse Subdirectories" : "true",
        "File Filter" : "final_report.json",
        "Include File Attributes" : "true",
        "Input Directory Location" : "Local",
        "listing-strategy" : "timestamps",
        "Input Directory" : "/scratch/users/app.nifi/hips_catalog/logs",
        "target-system-timestamp-precision" : "auto-detect",
        "track-performance" : "false",
        "max-performance-metrics" : "100",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "max-operation-time" : "10 secs"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "max-listing-time" : {
          "displayName" : "Max Directory Listing Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-listing-time",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "et-node-identifier" : {
          "displayName" : "Entity Tracking Node Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-node-identifier",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        },
        "Include File Attributes" : {
          "displayName" : "Include File Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include File Attributes",
          "sensitive" : false
        },
        "Input Directory Location" : {
          "displayName" : "Input Directory Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory Location",
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "target-system-timestamp-precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "target-system-timestamp-precision",
          "sensitive" : false
        },
        "track-performance" : {
          "displayName" : "Track Performance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "track-performance",
          "sensitive" : false
        },
        "max-performance-metrics" : {
          "displayName" : "Maximum Number of Files to Track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-performance-metrics",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "max-operation-time" : {
          "displayName" : "Max Disk Operation Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-operation-time",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "output stream", "original", "nonzero status" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "56176977-6dcb-33b9-acd8-5a7382928aff",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteStreamCommand",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1472.0,
        "y" : -8.0
      },
      "properties" : {
        "argumentsStrategy" : "Command Arguments Property",
        "Max Attribute Length" : "256",
        "Working Directory" : "/scratch/users/app.nifi/",
        "Command Path" : "/bin/bash",
        "Argument Delimiter" : " ",
        "Ignore STDIN" : "false",
        "Command Arguments" : "-c \"su - app.nifi -c 'sbatch /scripts/app.nifi/HIPS_CATALOG_PIPELINE/submit_hips_dp1.sh'\""
      },
      "propertyDescriptors" : {
        "argumentsStrategy" : {
          "displayName" : "Command Arguments Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "argumentsStrategy",
          "sensitive" : false
        },
        "Max Attribute Length" : {
          "displayName" : "Max Attribute Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Attribute Length",
          "sensitive" : false
        },
        "Output MIME Type" : {
          "displayName" : "Output MIME Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output MIME Type",
          "sensitive" : false
        },
        "Working Directory" : {
          "displayName" : "Working Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Working Directory",
          "sensitive" : false
        },
        "Command Path" : {
          "displayName" : "Command Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Path",
          "sensitive" : false
        },
        "Output Destination Attribute" : {
          "displayName" : "Output Destination Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Destination Attribute",
          "sensitive" : false
        },
        "Argument Delimiter" : {
          "displayName" : "Argument Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Argument Delimiter",
          "sensitive" : false
        },
        "Ignore STDIN" : {
          "displayName" : "Ignore STDIN",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore STDIN",
          "sensitive" : false
        },
        "Command Arguments" : {
          "displayName" : "Command Arguments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Arguments",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f3230719-f3e2-372b-b7ed-76396f8719ee",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 240.0,
        "y" : 504.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "=====================================================\nHIPS CATALOG-GEN PIPELINE FOR #{data_release} - ERROR\n=====================================================\n\nJob ID: \t\t\t\t${job_id}\nJob Name: \t\t\t\t${job_name}\n\nState: \t\t\t\t\t${state}\n\nEnd Time: \t\t\t\t${end_time}\n\nPath to the error file:\n${stderr_file}\n\n=====================================================\n\n\nEste é um e-mail automático.",
        "Attach File" : "false",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "false",
        "From" : "nifi-notifier@linea.org.br",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "mx4.linea.org.br",
        "Subject" : "[IDAC-BR] NiFi | JOB EXECUTION ERROR [ID ${job_id}] - [HIPS CATALOG-GEN PIPELINE FOR #{data_release}]",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "SMTP Username" : "Anonymous",
        "To" : "nifi-notifier@linea.org.br",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "data_release" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "data_release",
      "parameters" : [ {
        "description" : "",
        "name" : "data_release",
        "provided" : false,
        "sensitive" : false,
        "value" : "DES"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "lineaaplnifi",
    "flowIdentifier" : "HiPS-Catalog-Gen-Pipeline-for-DP1",
    "timestamp" : 0
  }
}